#contact-back{
    margin-left: 9%;
    margin-right: 9%;
    background-color: rgba(248,232,228,255);
}
.contact-us h2 {
	font-size: 2em;
    padding-top: 7%;
    padding-bottom: 7%;
	margin-bottom: 4%;
    text-align: center;
}
.contact-info{
    text-align: center;
    margin-top: 4%;
    font-weight: 700;
    font-size: 1.1em;;
}

.contact-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
	font-size: 1.2em;
    font-weight: 300;
    padding-top: 2%;
	padding-bottom: 5%;
    width: 65%;
    text-align: center;
}


/*          FORM         */
.form{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    height: 25em;
    
    padding: 1%;
    
}

.form-name{
    float: left;
    width: 50%;
    
}
.form-name input{
    padding: 1em .8em;
    border: none;
    width: 80%;
    font-weight: 700;
    border-radius: 4px;
    border-bottom: 2px solid gray;
}
.form-email{
    float: right;
    width: 50%;

}
.form-email input{
    padding: 1em .8em;
    border: none;
    width: 80%;
    font-weight: 700;
    border-radius: 4px;
    border-bottom: 2px solid gray;
}
.form-subject{
    width: 100%;
}
.form-subject input{
    margin-top: 2em;
    padding: 1em .8em;
    border: none;
    width: 90%;
    font-weight: 700;
    border-radius: 4px;
    border-bottom: 2px solid gray;
}

.form-textarea{
    width: 100%;
}
.form-text-box{
    width: 90%;
    margin-top: 2em;
    padding: 1em .8em;
    border: none;
    height: 8em;
    font-weight: 700;
    border-radius: 4px;
    border-bottom: 2px solid gray;
}

.form-btn{}

.send-btn{
    width: 40%;
    height: 3em;
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 50rem;
    background-color: rgba(248,232,228,255);
    font-size: 1.1em;
    font-weight: 700;
}
.send-btn:hover{
    background-color: rgba(242,205,193,255);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

